body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  margin-bottom: 8px;
}

.content {
  font-family: sans-serif;
  background: #e3f4ff;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  display: block;
  margin: 0 auto;
  border: 1px solid #eee;
  margin-top: 1px;
}