body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  align-items: center;
  display: flex;
  padding: 4px
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.content {
  flex: 1;
  display: flex;
}

.cards{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.card {
  padding: 16px;
  width: 300px;
}

.footer {
  height: 72px;
  background: lightgrey;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
  display:flex;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
  flex: 1 0 auto;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}