body {
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

.header{
    background-color: #1f2937;
    color: white;
    margin:0;
    padding:0;
}

.header-content{
    display: flex;
    flex-direction: column;
    margin:10px 100px;
    padding: 0 0 60px 0;

}

.top-header{
    display: flex;
    justify-content: space-between;
}

.bottom-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.links {
    align-items: center;
    justify-content: center;
}

.promo{
    display: flex;
}

.promo .image {
    background-color: gray;
    flex: 1;
    width: 50%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo .text button{
    background-color: #3882f6;
    color: white;
    border: 0px solid;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 10px;
}

.promo .text {
    width: 50%;
    flex: 1;
    padding-right: 40px;
}

.text h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin:0;
}

.text p{
    margin:0;
    color: #e5e7eb;
    font-size: 18px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card {
    width: 120px;
}

.card .image {
    border:#3882f6 solid 3px;
    border-radius: 10px;
    height:120px;

}

.card p{
    font-size: 12px;
    text-align: center;
    color: #858c96
}

.content-three {
    background-color: #e5e7eb;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.quote-content h1{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    text-align: center;
    width: 800px;
    text-align: left;
}

.quote-content h3{
    text-align: right;
}

.cards{
    display: flex;
    gap: 50px;
}

.call-to-action{
    background-color: #f9faf8;
}

.cta-box{
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    margin: 80px;
    border: 0px white solid;
    border-radius: 5px;
}

.cta-box .text{
    padding: 20px;
}

.cta-box .text h3{
    margin: 0;
    color:#e5e7eb
}

.cta-box .text p{
    font-size: 12px;
}

.cta-box button{
    border:#f9faf8 1px solid;
    background-color: #3882f6;
    border-radius: 3px;
    padding:3px 15px;
    color: #f9faf8;
}

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer .text{
    font-size: 12px;
    color:#a9adb3;
}

ul {
    display: flex;
    gap: 12px;
}

li {
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
}